html{
	box-sizing: border-box;
}

*,*:before, *:after{
	box-sizing: inherit;
}

body{
	padding: 0;
	margin: 0;
	background-color: grey;
}

.wrapper{
	width: 400px;
	background-color: #000;
	color: #fff; 
	margin: 10px auto;
}

.calc-button-row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
}

.screen{
	font-family: 'Courier New',Courier,monospace;
	padding: 20px 5px;
	text-align: right;
	font-size: 40px;
}

.calc-button{
	background-color:#d8d9db;
	color: #000;
	border: none;
	font-size: 40px;
	height: 100px;
	flex-basis: 25%;
}

.calc-button:hover{
	background-color: #ebebeb;
}

.calc-button:active{
	background-color: #bbbcbe;
}

button.calc-button.double{
 	flex-basis: 50%; 
}

button.calc-button.triple{
	flex-basis: 75%;
}

.calc-button:last-child{
	background-color: #d9974c;
	color: #fff;
}

.calc-button:last-child:hover{
	background-color: #dfb07e;
}	

